<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Summarizer</title>

    <!-- add icon link -->
    <link rel="icon" href="static/robot.png" type="image/icon type" />

    <!-- Adding Bootstrap file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <br /><br />

    <div class="row">
      <div class="col-sm-6">
        <h1 id="main_headline">
          Generate Summary using the power of Artificial Intelligence
        </h1>
      </div>
      <div class="col-sm-6">
        <!-- Start of our Input Card -->
        <div class="container">
          <div class="hovernow rounded">
            <div class="card border-0">
              <div class="card-body">
                <!-- Main Input For Receiving Query to our ML -->
                <form
                  id="form_id"
                  action="{{ url_for('prediction')}}"
                  method="post"
                >
                  <div class="form-group">
                    <h4>
                      <label for="text_input_id"
                        >Enter text to be summarized here :
                      </label>
                    </h4>

                    <textarea
                      class="form-control"
                      id="text_input_id"
                      rows="5"
                      name="textinput"
                      required="required"
                    ></textarea>

                    <br />
                    <label for="min_len_id">
                      <h4>
                        Minimun length of summary to be generated &nbsp; :
                        &nbsp;
                      </h4></label
                    >
                    <input
                      type="number"
                      id="min_len_id"
                      name="minlen"
                      min="1"
                      style="width: 5em"
                    />
                    <br />
                    <label for="max_len_id">
                      <h4>
                        Maximum length of summary to be generated : &nbsp;
                      </h4></label
                    >
                    <input
                      type="number"
                      id="max_len_id"
                      name="maxlen"
                      min="1"
                      style="width: 5em"
                    />
                    <br />
                    <label for="summarization_method_id">
                      <h4>Summarization method : &nbsp;</h4></label
                    >
                    <select
                      name="summarization_method"
                      id="summarization_method"
                      class="summarization_method"
                    >
                      <option value="use_given_text">
                        Use given text sentences to summarize given text
                      </option>
                      <option value="dont_use_given_text">
                        Generate new sentences to summarize given text
                      </option>
                    </select>
                  </div>

                  <br />
                  <div id="main_button">
                    <button type="submit" class="btn btn-outline-danger">
                      Generate Summary
                    </button>
                  </div>
                  <div id="spnr" class="spinner-displayer center"></div>
                  <div id="spnr" class="center">
                    <p id="spinner_p_tag"></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- End of our Input Card -->
      </div>
    </div>
  </body>

  <!-- Adding Javascript and Jquery files -->

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='jquery.min.js') }}"
  ></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='popper.min.js') }}"
  ></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='bootstrap.min.js') }}"
  ></script>

  <script type="text/javascript">
    function spinner() {
      const spinnerDisplayer = document.querySelector(".spinner-displayer");
      const btn = document.getElementById("main_button");

      document
        .getElementById("form_id")
        .addEventListener("submit", function () {
          document.getElementById("main_button").style.display = "none";
          document.getElementById("spnr").style.display = "block";
          spinnerDisplayer.classList.add("loading");
          document.getElementById("spinner_p_tag").innerHTML = "Processing...";
          localStorage.setItem("hide_spinner", true);
        });
    }

    function hidespinner() {
      document.getElementById("main_button").style.display = "block";
      document.getElementById("spnr").style.display = "none";
      document.getElementById("spinner_p_tag").innerHTML = "";
      localStorage.removeItem("hide_spinner");
    }

    spinner();

    if (localStorage.getItem("hide_spinner")) {
      hidespinner();
    }
  </script>
</html>
